:root {
    --primary-text-color: #111;
    --secondary-text-color: #fafafa;
    --primary-bg-color: #fff;
    --orange: #fd9222;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

.orange-text {
    color: var(--orange);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

/* header */
.logo {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.54px;
}

.nav-link {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    /* 114.286% */
    letter-spacing: -0.28px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--orange);
}

.made-title {
    color: var(--primary-text-color);
    /* text-align: center; */
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.made-sub-title {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}

/* .made-list {
  list-style: ;
} */
.made-item {}

.made-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.28px;
}